$accountBtnColor : rgb(18, 28, 32);
$bgColor : rgba(19, 31, 36, 1);
$formline : rgb(55, 70, 79);

.account{
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}
.accountbtn{
  width: 180px;
  display: flex;
  justify-content: center;
  background-color: $bgColor;
  align-items: center;
  padding: 13px 0;
  margin: 10px 10px  0 10px;
  transition: background 0.3s ease;
  img{
      width:20px;
      margin-right: 3px;
  }
  &:hover{
      background-color: $accountBtnColor;
  }
}

.or-separator {
display: flex;
align-items: center;
margin: 10px 0;

.line {
flex: 1;
border-bottom: 2.5px solid $formline;
}

span {
  margin: 0 10px;
  color: $formline;
  font-weight: bold;
}
}

@media (max-width: 700px) {
    .account {
    width: 100%;
    display: flex;
    // justify-content: center;
  }

  .accountbtn {
    width: 100%;
    font-size: 15px;
    // display: flex;
    // justify-content: center;
  }
}