$inputbgColor : rgb(32 ,47, 54, 1);
$placeholderColor: rgba(225, 225, 225, 1);
$secondryBorder:rgb(27, 168, 235);
$lightgray : #37464f;
$forgetColor :rgb(82, 101, 109);


.input-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin-bottom:12px ;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%
    
}

.clear-icon {
    position: absolute;
    right: 15px;
    top: 20px;
    width: 20px;
}

.clear-icon-login {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 24px;
}

.clear-icon-name {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 24px;
}

.clear-icon-parent {
    position: absolute;
    right: 15px;
    top: 110px;
    width: 24px;
}

.clear-icon-password{ 
    position: absolute;
    right: 15px;
    top: 152px;
    width: 24px;
}

.input-box {
    width: 100%;
    color: $placeholderColor;
    background-color: $inputbgColor;
    border-radius: 13px;
    padding: 12px;
    margin-bottom: 13px;
    font-size: 18px;
    border: solid 2px $lightgray;
}

input::placeholder{
    color:$placeholderColor; 
}
 
input:focus {
    border: 2px solid $secondryBorder;
    outline: none;
}

// Forget link in password input

.forgrt-link {
    position: absolute;
    right: 15px;
    top: 94px;
    transform: translateY(-50%);
    font-size: 14px;
    cursor: pointer;
    font-weight: 800;
    transition: color 0.2s ease;
    color: $forgetColor;

    &:hover {
        color: $placeholderColor;
    }
}


@media (max-width:700px) {
    .input-container{
        width: 100%;
        display: flex;
        align-items: center;
    }
    
    .passwordInput,.userNameInput .userAgeInput{
        width: 100%;
    }

    .forgrt-link{
    position: absolute;
    right: 15px;
    top: 70%;
    }

    .clear-icon{
        width: 25px;
        position: absolute;
        top: 15px;
        right: 12px
    }
}


