
@use "../../login-signup/styles//InputBox.scss";
$bgColor : rgba(19, 31, 36, 1);
$headerColor : rgba(241, 247, 251, 1);
$footerTextColor : rgb(81, 100 , 108);
$btnSecondery:rgb(73, 192, 248);
$secondryBorder:rgb(27, 168, 235);
$btnFontColor: rgb(67, 173, 223);
$btnloginhiveer : rgb(80, 211, 255);
$formline : rgb(55, 70, 79);
$blackColor: rgb(0,0,0);
$bgColor : rgba(19, 31, 36, 1);
$btnBorderColor : rgba(50, 63 ,71, 1);

// @font-face {
//   font-family:din_round;
//   src: url("../../assets/din_round/dinroundpro.otf"  ) format("opentype");
//   font-weight: 900;
// }

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow :hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
  background-color: $bgColor;
//  font-family: din_round, sans-serif;    
}

a {
  text-decoration: none;
  cursor: pointer;
  color:$footerTextColor ;
}

.container {
  display: flex;
  flex-direction: column;
}
.signup-text span , p{
  font-size: 15px;
  margin-right: 4px;
}

header {
  display: flex;
  margin: 30px 30px 0 30px;
  justify-content: space-between;
  position: relative;
  
  img{
      width:25px ;
      cursor: pointer
  }
  button{
      padding: 13px;
      font-size: 15px  
  }
}

button {
  font-weight: 800;
  font-size: 14px;
  border-radius: 15px;
  border: solid 2px $btnBorderColor;
  box-shadow:0 2px $btnBorderColor ;
  background-color: $bgColor;
  text-align: center;
  color: $btnFontColor;
}


.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;   
  align-items: center;       
  height: 70vh;              
  width: 100%;
}

form{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 445px;
  padding:  16px;
}

h1 {
  color: $headerColor;
  font-size: 26px;
  margin-bottom: 25px;
  text-align: center;
  font-weight: 700;
}

.footer-text {
  color:$footerTextColor ;
  font-size: 15px;
  width: 25%;
  text-align: center;
  line-height: 20px;
  margin-top: 35px;
  
}

.top-text {
  a{
    font-weight: 900;
  }
  
}
.botton-text {
  padding: 5px;
  margin:  100px 10px 10px 10px;
  a{
    font-weight: 900;
  }
  
}

.botton-last-text {
  margin-top:20px ;
}


@media (max-width: 700px) {
  .form-wrapper{
    height: 90vh;
  }

  form {
    width: 100%;
    padding: 15px  30px;
  }

  .loginbtn {
    width: 95%;
    margin: 15px 0;
  }

  .switch-link-p{
    position: fixed;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 17px;
    font-weight: 800;
    color: $headerColor ;
    .switch-link {
      color:$btnSecondery ; 
    }
  }
  
  .footer-text {
    width: 100%;
    margin: 0;
    text-align: center;
    margin-top: 40px;
  }

  .closeIcon {
    position: fixed;
    right: 20px;
  }
}
